* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

/* #menu-h{
    background-color: rgb(37, 37, 39);
} */

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(28, 70, 168);
    padding: 8px; 
    display: inline-block;
    text-decoration: none;
    /* transition: background .4s; */
}

 #menu-h ul li a:hover {
    /* background-color: rgb(24, 139, 233); */
    color: rgb(24, 139, 233);
}

/* #menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
} */