* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

ul.separator {
	list-style: none;
	padding: 0;
	width: 100%;
    border-bottom: 1px solid rgb(232, 232, 232);
}

#menu-h{
    align-items: center;
    padding-top: 20px;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    font-size: 12px;
}

table.dataTable{
    font-size: 12px;
    color: rgb(126, 126, 126);    
    padding-left: 2px;
    display: inline-table;
}

table {
    border-collapse: separate;
    border-spacing: 5px 18px;
    margin-top: -8px;
  }

#td{
    font-size: 12px;
    color: rgb(52, 52, 52);    
    padding-left: 2px;
}

.poke-data {
    flex-direction: column;
    border-radius: 1rem;
    justify-content: left;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(28, 70, 168);
    padding: 8px; 
    display: inline-block;
    text-decoration: none;
}

 #menu-h ul li a:hover {
    color: rgb(24, 139, 233);
}