* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

ul.separator {
	list-style: none;
	padding: 0;
	width: 100%;
    border-bottom: 1px solid rgb(232, 232, 232);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    font-size: 12px;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(28, 70, 168);
    padding: 8px; 
    display: inline-block;
    text-decoration: none;
}

 #menu-h ul li a:hover {
    color: rgb(24, 139, 233);
}